*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: #bcbcbc;
  font-family: sans-serif;
  overflow: hidden;
}

@keyframes rainbow {
  0% { background-position-x: -200%; }
  100% { background-position-x: 0%; }
}

#loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9000;
  animation: rainbow 25s linear infinite;
  background: linear-gradient(to left, #a0a, #0aa, #00a, #0a0, #aa0, #a00, #a0a);
  background-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  text-transform: uppercase;
  color: white;
  transition: all 1s;
}

#loader::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('data:image/svg+xml;utf8,<svg width="4" height="4" xmlns="http://www.w3.org/2000/svg"><rect width="2" height="2" fill="rgba(255,255,255,1)" /><rect x="2" y="2" width="2" height="2" fill="rgba(255,255,255,1)" /></svg>');
  opacity: 0.35;
  pointer-events: none;
  image-rendering: pixelated;
  mix-blend-mode: hard-light;
}

#loader > span {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 18px;
  width: 320px;
}

#paint-app {
  /* width: 100vw; */
  /* height: 100vh; */
  border: 4px inset white;
}



header {
  /* background-color: #000f78; */
  background: linear-gradient(to left, #a0a, #0aa, #00a, #0a0, #aa0, #a00, #a0a);
  background-size: 200%;
  color: white;
  display: flex;
  align-items: center;
  animation: rainbow 25s linear infinite;
}

header > * {
  margin: 4px 10px;
}

header img {
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
}

nav {
  display: flex;
  padding: 10px;
  border-bottom: 2px solid black;
}

nav > .menu-item {
  margin-right: 20px;
}

nav > .sub-menu {
  background-color: #bcbcbc;
  padding: 10px;
  border: 2px solid #171717;
  border-top-color: #fff;
  border-left-color: #4c4c4c;
}

nav > .sub-menu > * {
  margin-bottom: 5px;
}

nav > .menu-item:hover,
nav > .sub-menu > *:hover {
  text-decoration: underline;
  cursor: pointer;
}

main {
  display: flex;
  align-items: flex-start;
  border-top: 2px solid white;
  border-bottom: 2px solid black;
}

#tool-bar,
#draw-area,
#code-menu {
  flex: 0 0 auto;
}

#tool-bar {
  border: 2px inset black;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

#tool-bar img, #icon-button {
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
  display: inline-block;
  border: 2px solid #171717;
  border-top-color: #f3f3f3;
  border-left-color: #f3f3f3;
  cursor: pointer;
}

#tool-bar img.clicked, #icon-button.clicked {
  border-top-color: #171717;
  border-left-color: #171717;
  border-bottom-color: #f3f3f3;
  border-right-color: #f3f3f3;
  background: #888;
}

#tool-bar img.selected {
  border-top-color: #171717;
  border-left-color: #171717;
  border-bottom-color: #f3f3f3;
  border-right-color: #f3f3f3;
}

#draw-area {
  position: relative;
  border: 4px inset #747b7a;
  border-width: 4px;
  background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(45deg, #ccc 25%, #fff 25%);
  background-size:10px 10px;
  background-position:0 0, 0 0, -5px -5px, 5px 5px;
}

#editor {
  background: pink;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 54, 0.94)
}

#code-menu {
  padding: 10px;
  overflow-y: scroll;
}

#code-options > button {
  cursor: pointer;
  margin: 5px 0px;
  display: block;
}

#open-icon-maker {
  margin-left: 10px;
}

#code-new-tool {
  display: none;
}

#code-new-tool > * {
  margin: 5px 0px;
}


#tool-options {
  padding: 20px 4px;
  border-top: 2px solid white;
}

#tool-info {
  border: 2px inset black;
  padding: 5px;
}

#nn-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#nn-link:hover {
  color: blue;
}



/* ---------------------------------- */
/* COLORS Picker */
/* ---------------------------------- */
.old-sch-clr {
  display: flex;
}

.old-sch-clr__styles {
  background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(45deg, #ccc 25%, #fff 25%);
  background-size:10px 10px;
  background-position:0 0, 0 0, -5px -5px, 5px 5px;
  width: 84px;
  height: 84px;
  border: 4px inset black;
}

.old-sch-clr__fillStyle,
.old-sch-clr__strokeStyle {
  width: 32px;
  height: 32px;
  position: relative;
  outline: 2px solid #888;
  cursor: pointer;
  border: 2px inset black;
  outline-offset: 0px;
}

.old-sch-clr__fillStyle {
  background-color: ${C2D.ctx.fillStyle};
  transform: translate(10px, 10px);
  z-index: 1;
}

.old-sch-clr__strokeStyle {
  background-color: ${C2D.ctx.strokeStyle};
  transform: translate(34px, 3px);
}

.old-sch-clr__swatches {
  max-width: 566px;
}

.old-sch-clr__swatch {
  display: inline-block;
  width: 32px;
  height: 32px;
  outline: 4px inset black;
  cursor: pointer;
  margin: 4px;
}
